[submodule "libs/mimalloc"]
	path = libs/mimalloc
	url = https://github.com/refresh-bio-dependencies/mimalloc.git
[submodule "libs/igraph"]
	path = libs/igraph
	url = https://github.com/refresh-bio-dependencies/igraph
