name: Self-hosted CI

on:
  pull_request:
    branches: [main, master, develop]
    paths-ignore:
      - '**.md'
  workflow_dispatch:


jobs:

  ########################################################################################
  checkout:
    name: Checkout
    strategy:
      matrix:
        machine: [x64_linux, x64_mac, arm64_linux, arm64_mac]
    runs-on: [self-hosted, clusty, '${{ matrix.machine }}']
    
    steps:
    - name: clean
      run: rm -rf ${{ github.workspace }}/*
    - uses: actions/checkout@v4
      with:
        submodules: recursive
    - name: Get tags
      run: | 
        cd ./libs/igraph
        git fetch --prune --unshallow
        echo exit code $?
        git tag --list
      continue-on-error: true  
    

  ########################################################################################
  make:
    name: Make
    needs: checkout
    strategy:
      fail-fast: false
      matrix:
        machine: [x64_linux, x64_mac, arm64_linux, arm64_mac]
        compiler: [11, 12]
        include:
        - {machine: x64_linux, platform: avx2, compiler: 14}
        - {machine: x64_linux, platform: avx2}
        - {machine: arm64_linux, platform: arm8}
        - {machine: x64_mac, platform: avx2}
        - {machine: arm64_mac, platform: m1}
  
    runs-on: [self-hosted, clusty, '${{ matrix.machine }}']

    steps:
    - name: list files
      run: ls -lR
    - name: make
      run: gmake -j32 CXX=g++-${{matrix.compiler}} CC=gcc-${{matrix.compiler}} PLATFORM=${{ matrix.platform }} LEIDEN=true STATIC_LINK=true
    - name: copy executable    
      run: cp ./bin/clusty ./clusty-${{matrix.compiler}}
    - name: clean  
      run: gmake clean


  ########################################################################################                 
  synth:
    name: Synthetic example
    needs: make
    strategy:
      fail-fast: false
      matrix:
        machine: [x64_linux, x64_mac, arm64_linux, arm64_mac]
        compiler: [11, 12]
        include:
        - {machine: x64_linux, compiler: 14}
        
    runs-on: [self-hosted, clusty, '${{ matrix.machine }}']    
    
    steps:
    - name: help
      run:  ./clusty-${{matrix.compiler}}
    - name: version
      run:  ./clusty-${{matrix.compiler}} --version

    
    - name: numeric, w/o representatives, w/o objects
      run: |
        ./clusty-${{matrix.compiler}} --id-cols id1 id2 --distance-col ani --similarity --min ani 0.70 --numeric-ids ./test/synth/synth.ani numeric.clusty
        cmp ./test/synth/numeric.clusty numeric.clusty 
    - name: numeric, w/o representatives, w/ objects
      run: |
        ./clusty-${{matrix.compiler}} --id-cols id1 id2 --distance-col ani --similarity --min ani 0.70 --numeric-ids ./test/synth/synth.ani numeric.objs.clusty --objects-file ./test/synth/synth.ids 
        cmp ./test/synth/numeric.objs.clusty numeric.objs.clusty    
    - name: numeric, w/ representatives, w/o objects
      run: |
        ./clusty-${{matrix.compiler}} --id-cols id1 id2 --distance-col ani --similarity --min ani 0.70 --numeric-ids ./test/synth/synth.ani numeric.reps.clusty  --out-representatives  
        cmp ./test/synth/numeric.reps.clusty numeric.reps.clusty   
    - name: numeric, w/ representatives, w/ objects
      run: |
        ./clusty-${{matrix.compiler}} --id-cols id1 id2 --distance-col ani --similarity --min ani 0.70 --numeric-ids ./test/synth/synth.ani numeric.objs.reps.clusty  --objects-file ./test/synth/synth.ids --out-representatives  
        cmp ./test/synth/numeric.objs.reps.clusty numeric.objs.reps.clusty

            
    - name: named, w/o representatives, w/o objects
      run: |
        ./clusty-${{matrix.compiler}} --id-cols name1 name2 --distance-col ani --similarity --min ani 0.70 ./test/synth/synth.ani named.clusty
        cmp ./test/synth/named.clusty named.clusty    
    - name: named, w/o representatives, w/ objects
      run: |
        ./clusty-${{matrix.compiler}} --id-cols name1 name2 --distance-col ani --similarity --min ani 0.70 ./test/synth/synth.ani named.objs.clusty --objects-file ./test/synth/synth.ids 
        cmp ./test/synth/named.objs.clusty named.objs.clusty      
    - name: named, w/ representatives, w/o objects
      run: |
        ./clusty-${{matrix.compiler}} --id-cols name1 name2 --distance-col ani --similarity --min ani 0.70 ./test/synth/synth.ani named.reps.clusty  --out-representatives  
        cmp ./test/synth/named.reps.clusty named.reps.clusty
    - name: named, w/ representatives, w/ objects
      run: |
        ./clusty-${{matrix.compiler}} --id-cols name1 name2 --distance-col ani --similarity --min ani 0.70 ./test/synth/synth.ani named.objs.reps.clusty  --objects-file ./test/synth/synth.ids --out-representatives  
        cmp ./test/synth/named.objs.reps.clusty named.objs.reps.clusty
   

  ########################################################################################                 
     
  vir61-linkage:
    name: Vir61
    needs: synth
    strategy:
      fail-fast: false
      matrix:
        algo: [single, complete]
        threshold: [95, 70]
        machine: [x64_linux, x64_mac, arm64_linux, arm64_mac]
        compiler: [12]
        include:
        - {algo: single, threshold: 95, machine: x64_linux, compiler: 14}
        - {algo: single, threshold: 70, machine: x64_linux, compiler: 14}
        - {algo: complete, threshold: 95, machine: x64_linux, compiler: 14}
        - {algo: complete, threshold: 70, machine: x64_linux, compiler: 14}
    
    runs-on: [self-hosted, clusty, '${{ matrix.machine }}']    
    
    steps:
    - name: ${{matrix.algo}}, ${{matrix.threshold}} (w/o representatives, reordered columns)
      run: |
        ./clusty-${{matrix.compiler}} --algo ${{matrix.algo}} --objects-file ./test/vir61/vir61.list --similarity --min ani 0.${{matrix.threshold}} --id-cols id2 id1 --distance-col ani ./test/vir61/vir61.ani vir61.${{matrix.algo}}.${{matrix.threshold}}
        python3 ./test/cmp.py vir61.${{matrix.algo}}.${{matrix.threshold}} ./test/vir61/vir61.${{matrix.algo}}.${{matrix.threshold}}.python.csv
    
    - name: ${{matrix.algo}}, ${{matrix.threshold}} (w/ representatives, reordered columns)
      run: |
        ./clusty-${{matrix.compiler}} --algo ${{matrix.algo}} --objects-file ./test/vir61/vir61.list --similarity --min ani 0.${{matrix.threshold}} --id-cols id2 id1 --distance-col ani ./test/vir61/vir61.ani vir61.${{matrix.algo}}.${{matrix.threshold}}.reps --out-representatives
        python3 ./test/cmp.py vir61.${{matrix.algo}}.${{matrix.threshold}}.reps ./test/vir61/vir61.${{matrix.algo}}.${{matrix.threshold}}.python.csv
  
  ########################################################################################   
  ictv-linkage:
    name: ICTV python ref
    needs: vir61-linkage
    strategy:
      fail-fast: false
      matrix:
        algo: [single, complete]
        threshold: [95, 70]
        machine: [x64_linux, x64_mac, arm64_linux, arm64_mac]
        compiler: [12]
        include:
        - {algo: single, threshold: 95, machine: x64_linux, compiler: 14}
        - {algo: single, threshold: 70, machine: x64_linux, compiler: 14}
        - {algo: complete, threshold: 95, machine: x64_linux, compiler: 14}
        - {algo: complete, threshold: 70, machine: x64_linux, compiler: 14}
    
    runs-on: [self-hosted, clusty, '${{ matrix.machine }}']    
    
    steps:
    - name: ${{matrix.algo}}, ${{matrix.threshold}} (w/o representatives)
      run: |
        ./clusty-${{matrix.compiler}} --algo ${{matrix.algo}} --objects-file ./test/ictv/ictv.list --similarity --min ani 0.${{matrix.threshold}} ./test/ictv/ictv.ani ictv.${{matrix.algo}}.${{matrix.threshold}}
        python3 ./test/cmp.py ictv.${{matrix.algo}}.${{matrix.threshold}} ./test/ictv/ictv.${{matrix.algo}}.${{matrix.threshold}}.python.csv
        
    - name: ${{matrix.algo}}, ${{matrix.threshold}} (w/ representatives)
      run: |
        ./clusty-${{matrix.compiler}} --algo ${{matrix.algo}} --objects-file ./test/ictv/ictv.list --similarity --min ani 0.${{matrix.threshold}} ./test/ictv/ictv.ani ictv.${{matrix.algo}}.${{matrix.threshold}}.reps --out-representatives
        python3 ./test/cmp.py ictv.${{matrix.algo}}.${{matrix.threshold}}.reps ./test/ictv/ictv.${{matrix.algo}}.${{matrix.threshold}}.python.csv
        
    - name: ${{matrix.algo}}, ${{matrix.threshold}} (w/o representatives, numeric ids)
      run: |
        ./clusty-${{matrix.compiler}} --algo ${{matrix.algo}} --objects-file ./test/ictv/ictv.list --similarity --min ani 0.${{matrix.threshold}} ./test/ictv/ictv.num ictv.${{matrix.algo}}.${{matrix.threshold}}.num --numeric-ids
        python3 ./test/cmp.py ictv.${{matrix.algo}}.${{matrix.threshold}}.num ./test/ictv/ictv.${{matrix.algo}}.${{matrix.threshold}}.python.csv
        
    - name: ${{matrix.algo}}, ${{matrix.threshold}} (w/ representatives, numeric ids)
      run: |
        ./clusty-${{matrix.compiler}} --algo ${{matrix.algo}} --objects-file ./test/ictv/ictv.list --similarity --min ani 0.${{matrix.threshold}} ./test/ictv/ictv.num ictv.${{matrix.algo}}.${{matrix.threshold}}.reps.num --out-representatives --numeric-ids
        python3 ./test/cmp.py ictv.${{matrix.algo}}.${{matrix.threshold}}.reps.num ./test/ictv/ictv.${{matrix.algo}}.${{matrix.threshold}}.python.csv
  
  ########################################################################################   
  ictv-all:
    name: ICTV all algos
    needs: ictv-linkage
    strategy:
      fail-fast: false
      matrix:
        algo: [single, complete, uclust, set-cover, cd-hit, leiden]
        threshold: [70]
        threads: [4, 8, 16]
        machine: [x64_linux, x64_mac, arm64_linux, arm64_mac]
        compiler: [12]
        include:
        - {algo: single, algo_cmd: single}
        - {algo: complete, algo_cmd: complete}
        - {algo: set-cover, algo_cmd: set-cover}
        - {algo: uclust, algo_cmd: uclust}
        - {algo: cd-hit, algo_cmd: cd-hit}
        - {algo: leiden, algo_cmd: 'leiden --leiden-resolution 0.35'}
        
        - {algo: single, threshold: 70, machine: x64_linux, compiler: 14, algo_cmd: single}
        - {algo: complete, threshold: 70, machine: x64_linux, compiler: 14, algo_cmd: complete}
        - {algo: uclust, threshold: 70, machine: x64_linux, compiler: 14, algo_cmd: uclust}
        - {algo: set-cover, threshold: 70, machine: x64_linux, compiler: 14, algo_cmd: set-cover}
        - {algo: cd-hit, threshold: 70, machine: x64_linux, compiler: 14, algo_cmd: cd-hit}
        - {algo: leiden, threshold: 70, machine: x64_linux, compiler: 14, algo_cmd: leiden}
        
      

    runs-on: [self-hosted, clusty, '${{ matrix.machine }}']
    env:
      ARGS: ${{ matrix.algo == 'leiden' && '--leiden-resolution 0.35' || '' }}
    
    steps:
    - name: ${{matrix.algo}}, ${{matrix.threshold}}, ${{matrix.threads}} threads (no representatives)
      run: |
        ./clusty-${{matrix.compiler}} -t ${{matrix.threads}} --algo ${{matrix.algo_cmd}} --objects-file ./test/ictv/ictv.list --similarity --min ani 0.${{matrix.threshold}} ./test/ictv/ictv.ani ictv.${{matrix.algo}}.${{matrix.threshold}}
        cmp ictv.${{matrix.algo}}.${{matrix.threshold}} ./test/ictv/ictv.${{matrix.algo}}.${{matrix.threshold}}.csv
        
    - name: ${{matrix.algo}}, ${{matrix.threshold}},  ${{matrix.threads}} threads (with representatives)
      run: |
        ./clusty-${{matrix.compiler}} -t ${{matrix.threads}} --algo ${{matrix.algo_cmd}} --objects-file ./test/ictv/ictv.list --similarity --min ani 0.${{matrix.threshold}} ./test/ictv/ictv.ani ictv.${{matrix.algo}}.${{matrix.threshold}}.reps --out-representatives
        cmp ictv.${{matrix.algo}}.${{matrix.threshold}}.reps ./test/ictv/ictv.${{matrix.algo}}.${{matrix.threshold}}.reps.csv
        
    - name: ${{matrix.algo}}, ${{matrix.threshold}},  ${{matrix.threads}} threads (with representatives, numeric ids)
      run: |
        ./clusty-${{matrix.compiler}} -t ${{matrix.threads}} --algo ${{matrix.algo_cmd}} --objects-file ./test/ictv/ictv.list --similarity --min ani 0.${{matrix.threshold}} ./test/ictv/ictv.num ictv.${{matrix.algo}}.${{matrix.threshold}}.reps.num --out-representatives --numeric-ids
        cmp ictv.${{matrix.algo}}.${{matrix.threshold}}.reps.num ./test/ictv/ictv.${{matrix.algo}}.${{matrix.threshold}}.reps.csv
